.menuPane-head {
	position: relative;
	width: 100%;
	top: 0;
	background-color: #ededed;
	padding: 5px;
	font-size: small;
}

.menuPane {
	position: absolute;
	z-index: 10;
	background-color: white;
	color: black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-width: 5px;
	border-color: #dcdcdc;
	border-style: solid;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: verdana;
	font-size: 12px;
	top: 75px;
	right: 120px;
	width: 375px;
	display: none;
	max-height: 75%;
}

.menuPaneContent {
	padding:0.5em;
	max-height: 100%;
}

.subMenuPane {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: white;
}

#individualClassesPane {
	display: none;
}

#soziographischPane {
	display: none;
}

#demographischPane {
	display: none;
}

.submenuArrow {
	height: 10px;
}

#arrowAutomatic {
	-moz-transform:rotate(90deg); /* Firefox 3.6 Firefox 4 */
	-webkit-transform:rotate(90deg); /* Safari */
	-o-transform:rotate(90deg); /* Opera */
	-ms-transform:rotate(90deg); /* IE9 */
	transform:rotate(90deg); /* W3C */
}

#menuPane-legend {
	left: 65px;
	bottom: 55px;
	top: auto;
	width: 215px;
}

#menuPane-classes {
	width: 375px;
}

.menuPaneContent .table {
	display:table;
}

/*.menuPaneContent .row {
	display:table-row;
}*/

.menuPaneContent .cell {
	display:table-cell;
}

.menuPaneContent label {
	padding-right:3px;
}

.row {
	line-height: 2;
}

.col-3 {
	width: 30%;
	min-width: 30%;
	max-width: 30%;
	display: inline-block;
	line-height: 1;
}

.col-6 {
	width: 60%;
	min-width: 60%;
	max-width: 60%;
	display: inline-block;
	line-height: 1;
}

.col-1 {
	width: 2%;
	min-width: 2%;
	max-width: 2%;
	display: inline-block;
	line-height: 1;
}

.help {
	cursor: help;
}

.disabled {
	pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.field-0 {
	cursor: pointer;
}